# .gitignore

# Ignore the .env file
.env

# Node modules
node_modules/

# Next.js build output
.next/
out/

# React / Next.js specific
*.log
*.cache
*.out
*.next

# Operating System files
.DS_Store
Thumbs.db

# Python / Django specific
*.pyc
__pycache__/
db.sqlite3
venv/
